<%- include('partials/navbar.ejs') %>



<section class="container-fluid aboutBg">

    <div class="row h-100 align-items-center justify-content-center pt-5">
        <div class="col-md-10 text-center px-5">
            <h1 class="text-white mb-2">
                Discover Our Story, Join Us.
            </h1>
            <div>
                <h5 class="fw-normal text-white">
                    <a href="/" class="text-white text-decoration-none">Home</a>
                    /
                    <span>
                        About
                    </span>
                </h5>
            </div>
        </div>
    </div>
</section>

its about page