<link rel="stylesheet" type="text/css" href="/public/css/main.css">


<!-- NAVBAR -->
<%- include('partials/navbar.ejs') %>

    <!-- hero section -->
    <section class="container-fluid h-100" style="position: absolute;" id="mainHeroBg">
        <div class="row h-100">
            <img class="img-fluid d-none d-lg-block" src="/public/img/Social Media icons.png" alt="image"
                style="position: absolute;">
            <div class="col-md-6 m-auto text-center  h-50 d-flex align-items-end justify-content-center">
                <button id="view_package" class="btn p-2 rounded-pill text-dark cBtn2"
                    style="font-weight: 700; background: #09ec1c; width: 180px; margin-top: 70px;"> View Package
                </button>
            </div>


            <div class="container-fluid h-100" style="position: absolute;" id="mainHeroBg">
                <div class="row h-100">
                    <img class="img-fluid d-none d-lg-block" src="/public/img/Social Media icons.png" alt="image"
                        style="position: absolute;">
                    <div class="col-md-6 m-auto text-center  h-50 d-flex align-items-end justify-content-center">
                        <button id="view_package" class="btn p-2 rounded-pill text-dark cBtn2"
                            style="font-weight:700; background: #09ec1c; width: 180px; margin-top: 70px;"> View Package
                        </button>
                    </div>

                    <!-- RATING SECTION -->
                </div>
            </div>
            <div class="col-md-10 pb-3" style="position: absolute; bottom: 10px; left:0px; right:0px; margin:auto; ">
                <div class="row g-0">
                    <div class="col-md-3 col-6 mb-3 mb-md-0">
                        <div class="text-center">
                            <i class="fa-solid fa-star text-white" style="width: 20px !important;"></i>
                            <div class="mt-2">
                                <h5 class="text-white fw-normal">
                                    <span class="counter">500</span>+ <br>
                                    5 Star Ratings
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 mb-md-0">
                        <div class="text-center">
                            <i class="fa-solid fa-headset text-white" style="width: 20px !important;"></i>
                            <div class="mt-2">
                                <h5 class="text-white fw-normal">
                                    <span class="counter">24</span>/
                                    <span class="counter">7</span>
                                    <br>
                                    Assistance
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 mb-md-0">
                        <div class="text-center">
                            <i class="fa-solid fa-plane text-white" style="width: 20px !important;"></i>
                            <div class="mt-2">
                                <h5 class="text-white fw-normal">
                                    <span class="counter">1000</span>
                                    + <br>
                                    Successful Trips
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 mb-md-0">
                        <div class="text-center">
                            <i class="fa-solid fa-indian-rupee-sign text-white" style="width: 20px !important;"></i>
                            <div class="mt-2">
                                <h5 class="text-white fw-normal">
                                    <span class="counter">100</span>% <br>
                                    Best Price Assured
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- hero section end -->

        <!-- category section -->
        <section class="px-md-5 mt-md-0">
            <div class="text-center px-5 px-md-0 mt-5">
                <h6 style="color: #1678cb;">
                    Exclusive Categories
                </h6>
                <h2 class="fw-bold mb-md-4 caps text-success">
                    Destination experience we the best
                </h2>
            </div>

            <div class="container">
                <div class="row category_sec g-3 g-md-0 mt-2">

                    <div class="col-md-2 col-4 p-md-4 ">
                        <a href="#">
                            <div class="border text-center rounded-4 overflow-hidden bg-light"
                                style="border-radius: 10px;">
                                <img src="/public/img/category5.jpg" alt="" class="img-fluid">
                                <h6 class="my-2" style="color: #1678cb;">
                                    <small>
                                        BACKPACKING TRIPS
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-4 p-md-4">
                        <a href="#">
                            <div class="border text-center overflow-hidden  bg-light" style="border-radius: 10px;">
                                <img src="/public/img/category3.jpg" alt="" class="img-fluid">
                                <h6 class="my-2" style="color: #1678cb;">
                                    <small>
                                        HIMACHAL TRIPS
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-4 p-md-4">
                        <a href="#">
                            <div class="border text-center rounded-4 overflow-hidden bg-light"
                                style="border-radius: 10px;">
                                <img src="/public/img/kashmir.png" alt="" class="img-fluid">
                                <h6 class="my-2" style="color: #1678cb;">
                                    <small>
                                        KASHMIR TRIPS
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-4 p-md-4">
                        <a href="#">
                            <div class="border text-center rounded-4 overflow-hidden bg-light"
                                style="border-radius: 10px;">
                                <img src="/public/img/category4.jpg" alt="" class="img-fluid">
                                <h6 class="my-2" style="color: #1678cb;">
                                    <small>
                                        UPCOMING TRIPS
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-4 p-md-4">
                        <a href="#">
                            <div class="border text-center rounded-4 overflow-hidden bg-light"
                                style="border-radius: 10px;">
                                <img src="/public/img/weekend_trip.png" alt="image" class="img-fluid">
                                <h6 class="my-2 " style="color: #1678cb;">
                                    <small>
                                        WEEKEND TRIPS
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-4 p-md-4">
                        <a href="#">
                            <div class="border text-center rounded-4 overflow-hidden bg-light"
                                style="border-radius: 10px;">
                                <img src="/public/img/new_year.png" alt="" cla class="img-fluid">
                                <h6 class="my-2" style="color: #1678cb;">
                                    <small>
                                        KASHMIR TRIP
                                    </small>
                                </h6>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="categoryBg py-5">
                    <div class="py-3"></div>
                </div>
            </div>
            </div>
        </section>
        <!-- category section end -->



        <!-- OFFER SECTION START -->
        <section>

            <div class="container">
                <div class="row">
                    <div class="col-md-6  col-6">
                        <h5>WHAT WE OFFER</h5>
                        <h2 class="text-success">weekend Trip</h2>
                    </div>
                    <div class="col-md-6 col-6">
                        <a href="#">
                            <button class="cBtn2 float-end">View All Packages</button>
                        </a>
                    </div>



                    <div class="col-md-3 mt-5 p-2">
                        <div class="packcard p-4">
                            <div class="top-section packCardBg1">
                                <div class="border text-center">
                                    <div class="text-white">
                                        Delhi/Chandigarh
                                    </div>
                                </div>
                                <div class="icons">
                                </div>
                            </div>
                            <div class="bottom-section">
                                <span class="title">BALI MOUNT ABU TRIP</span>
                                <div class="row row1">
                                    <div class="item">
                                        <span class="big-text">Package</span>
                                        <span class="regular-text">4N / 5D</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Breakfast </span>
                                        <span class="regular-text">Included</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Start at </span>
                                        <span class="regular-text">9999/-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2nd -->
                    <div class="col-md-3 mt-5 p-2">
                        <div class="packcard p-4">
                            <div class="top-section packCardBg1">
                                <div class="border text-center">
                                    <div class="text-white">
                                        Delhi/Chandigarh
                                    </div>
                                </div>
                                <div class="icons">
                                </div>
                            </div>
                            <div class="bottom-section">
                                <span class="title">BALI MOUNT ABU TRIP</span>
                                <div class="row row1">
                                    <div class="item">
                                        <span class="big-text">Package</span>
                                        <span class="regular-text">4N / 5D</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Breakfast </span>
                                        <span class="regular-text">Included</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Start at </span>
                                        <span class="regular-text">9999/-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3rd -->
                    <div class="col-md-3 mt-5 p-2">
                        <div class="packcard p-4">
                            <div class="top-section packCardBg1">
                                <div class="border text-center">
                                    <div class="text-white">
                                        Delhi/Chandigarh
                                    </div>
                                </div>
                                <div class="icons">
                                </div>
                            </div>
                            <div class="bottom-section">
                                <span class="title">BALI MOUNT ABU TRIP</span>
                                <div class="row row1">
                                    <div class="item">
                                        <span class="big-text">Package</span>
                                        <span class="regular-text">4N / 5D</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Breakfast </span>
                                        <span class="regular-text">Included</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Start at </span>
                                        <span class="regular-text">9999/-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4th -->
                    <div class="col-md-3 mt-5 p-2">
                        <div class="packcard p-4">
                            <div class="top-section packCardBg1">
                                <div class="border text-center">
                                    <div class="text-white">
                                        Delhi/Chandigarh
                                    </div>
                                </div>
                                <div class="icons">
                                </div>
                            </div>
                            <div class="bottom-section">
                                <span class="title">BALI MOUNT ABU TRIP</span>
                                <div class="row row1">
                                    <div class="item">
                                        <span class="big-text">Package</span>
                                        <span class="regular-text">4N / 5D</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Breakfast </span>
                                        <span class="regular-text">Included</span>
                                    </div>
                                    <div class="item">
                                        <span class="big-text">Start at </span>
                                        <span class="regular-text">9999/-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- OFFER SECTION END -->

        <!-- UPCOMING EVENT SECTION START -->
        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6 class="fw-bold">UPCOMING EVENTS</h6>
                        <h4 class="text-success">Destination We Experience The Best</h4>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a href="#">
                            <img class="img-fluid" src="/public/img/himachalbnanner.jpeg" alt="banner image"
                                style="border-radius: 25px;">
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!-- UPCOMING EVENT SECTION END -->

        <!--book trip banner section -->
        <section class="footer_bg mt-5">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6">
                        <h1 class="text-white mb-0">
                            Start Planning Your Trip Now <br> and Get 30% Discount
                        </h1>
                        <div class="py-4">
                            <small class="text-white">
                                Whether you're craving a local adventure or an international escapade, our team is here
                                to
                                turn
                                your travel dreams into reality. Don't miss this limited-time offer; book now and embark
                                on
                                a
                                journey of a lifetime with Trippy Baba!
                            </small>
                        </div>
                        <div>
                            <a href="#">
                                <button class="cBtn2"> Book a Trip </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--book trip banner section end -->

        <!-- trip section start -->
        <section class=" mt-5">
            <div class="container rounded-4 shadow customTrip"
                style="background: url(/public/img/background\ pattern.png);">
                <div class="row">
                    <div class="col-12 mt-5 text-center px-5 px-md-0">
                        <h6 class="" style="color: #1678cb;">
                            Top Destinations
                        </h6>
                        <div>
                            <h2 class="caps fw-bold text-success">
                                Up to 50% Off Customize Your Trip
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row p-md-5 p-1">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <a href="#">
                            <div style="position: relative;">
                                <img src="/public/img/Trip Photo.png" alt="" class="img-fluid rounded-3">
                                <div class="customPack">
                                    <h6>
                                        Himachal Trips
                                    </h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <a href="#">
                                    <div style="position: relative;">
                                        <img src="/public/img/Trip Photo.png" alt="" class="img-fluid rounded-3">
                                        <div class="customPack">
                                            <h6>
                                                Kashmir Trips
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="#">
                                    <div style="position: relative;">
                                        <img src="/public/img/Trip Photo.png" alt="" class="img-fluid rounded-3">
                                        <div class="customPack">
                                            <h6>
                                                XMAS &amp; NY 2023
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="#">
                                    <div style="position: relative;">
                                        <img src="/public/img/Trip Photo.png" alt="" class="img-fluid rounded-3">
                                        <div class="customPack">
                                            <h6>
                                                International Trip
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="#">
                                    <div style="position: relative;">
                                        <img src="/public/img/Trip Photo.png" alt="" class="img-fluid rounded-3">
                                        <div class="customPack">
                                            <h6>
                                                Domestic Trip
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- trip section end -->



        <!-- testimmonial section start -->
        <section class="mt-5 p-md-5">
            <div class="container shadow" style="background-image: url(/public/img/background\ pattern.png);">
                <h2 class="text-center pt-md-5">TESTIMONIALS</h2>
                <h1 class="text-center text-success">What People Say About Us Carefully ?</h1>
                <div class="row">
                    <div class="col-md-6 py-md-5">
                        <img class="img-fluid w-100 m-auto pt-md-5" src="/public/img/Trip Photo.png" alt="">
                    </div>

                    <!-- carousel section -->
                    <div class="col-md-6">
                        <div class="row py-md-5 mt-5">
                            <div class="col-md-11 p-md-5 m-auto">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>

                                    <div class="carousel-inner">
                                        <div class="container carousel-item active">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="/public/img/quotation-mark.png"
                                                        class="img-fluid d-block m-auto " alt="..."
                                                        style="height: 40px;">
                                                    <p class="fw-bold text-center mt-3">
                                                        We had a great experience travelling with trippy baba to manali.
                                                        They truly made our trip filled with fun and frolic. Managing a
                                                        large group of 8 girls safely and making our trip hassle free is
                                                        commendable. The stay at the hotel was comfortable and food was
                                                        amazing.. We had a lot of adventure games.. which even made our
                                                        trip
                                                        worth remembering. Thanks to the team- trippy baba.
                                                    </p>
                                                </div>

                                                <div class="col-6">
                                                    <img src="/public/img/user4.png"
                                                        class="d-block rounded-circle float-end" alt="image" />
                                                </div>
                                                <div class="col-6">
                                                    <h6 class="mt-2"> Nishi Kumari </h6> <span
                                                        class="text-secondary ">Delhi, India</span>
                                                </div>

                                            </div>


                                        </div>
                                        <!-- 2nd -->
                                        <div class="container carousel-item active">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="/public/img/quotation-mark.png"
                                                        class="img-fluid d-block m-auto " alt="..."
                                                        style="height: 40px;">
                                                    <p class="fw-bold text-center mt-3">
                                                        We had a great experience travelling with trippy baba to manali.
                                                        They truly made our trip filled with fun and frolic. Managing a
                                                        large group of 8 girls safely and making our trip hassle free is
                                                        commendable. The stay at the hotel was comfortable and food was
                                                        amazing.. We had a lot of adventure games.. which even made our
                                                        trip
                                                        worth remembering. Thanks to the team- trippy baba.
                                                    </p>
                                                </div>

                                                <div class="col-6">
                                                    <img src="/public/img/user4.png"
                                                        class="d-block rounded-circle float-end" alt="image" />
                                                </div>
                                                <div class="col-6">
                                                    <h6 class="mt-2"> Nishi Kumari </h6> <span
                                                        class="text-secondary ">Delhi, India</span>
                                                </div>

                                            </div>


                                        </div>
                                        <!-- 3rd -->
                                        <div class="container carousel-item active">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img src="/public/img/quotation-mark.png"
                                                        class="img-fluid d-block m-auto " alt="..."
                                                        style="height: 40px;">
                                                    <p class="fw-bold text-center mt-3">
                                                        We had a great experience travelling with trippy baba to manali.
                                                        They truly made our trip filled with fun and frolic. Managing a
                                                        large group of 8 girls safely and making our trip hassle free is
                                                        commendable. The stay at the hotel was comfortable and food was
                                                        amazing.. We had a lot of adventure games.. which even made our
                                                        trip
                                                        worth remembering. Thanks to the team- trippy baba.
                                                    </p>
                                                </div>

                                                <div class="col-6">
                                                    <img src="/public/img/user4.png"
                                                        class="d-block rounded-circle float-end" alt="image" />
                                                </div>
                                                <div class="col-6">
                                                    <h6 class="mt-2"> Nishi Kumari </h6> <span
                                                        class="text-secondary ">Delhi, India</span>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimmonial section  -->

        <!-- our partner section start -->
        <section>
            <div class="container pt-5 pb-3">
                <div class="row">
                    <div class="col-md-12 text-center p-4">
                        <h6 class="" style="color: #1678cb;">
                            Our Partner
                        </h6>
                        <div>
                            <h2 class="caps fw-bold">
                                Check Out Our Chanel Partner
                            </h2>
                        </div>
                    </div>

                    <div class="col-md-3 col-3">
                        <img class="img-fluid" src="/public/img/partner.png" alt="image">
                    </div>
                    <div class="col-md-3 col-3">
                        <img class="img-fluid" src="/public/img/partner.png" alt="image">
                    </div>
                    <div class="col-md-3 col-3">
                        <img class="img-fluid" src="/public/img/partner.png" alt="image">
                    </div>
                    <div class="col-md-3 col-3">
                        <img class="img-fluid" src="/public/img/partner.png" alt="image">
                    </div>
                </div>
            </div>
        </section>
        <!-- our partner section end -->


        






        <!-- footer -->
        <%- include('partials/footer.ejs') %>